<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.heartbeat" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HeartBeatTheme" >
        <activity
            android:name=".Mainpage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".LearnHomeActivity"
            android:label="@string/title_activity_learn_home" >
        </activity>
        <activity
            android:name=".LearnActivityBasics"
            android:label="@string/title_activity_learn_activity_basics" >
        </activity>
        <activity
            android:name=".LearnActivityMurmurs"
            android:label="@string/title_activity_learn_activity_murmurs" >
        </activity>
        <activity
            android:name=".LearnActivityCardiacCycle"
            android:label="@string/title_activity_learn_activity_cardiac_cycle" >
        </activity>
        <activity
            android:name=".LearnActivityS1"
            android:label="@string/title_activity_learn_activity_s1" >
        </activity>
        <activity
            android:name=".LearnActivityS2"
            android:label="@string/title_activity_learn_activity_s2" >
        </activity>
        <activity
            android:name=".LearnActivityS3"
            android:label="@string/title_activity_learn_activity_s3" >
        </activity>
        <activity
            android:name=".LearnActivityS4"
            android:label="@string/title_activity_learn_activity_s4" >
        </activity>
        <activity
            android:name=".LearnActivityAorticStenosis"
            android:label="@string/title_activity_learn_activity_aortic_stenosis" >
        </activity>
        <activity
            android:name=".LearnActivityMitralStenosis"
            android:label="@string/title_activity_learn_activity_mitral_stenosis" >
        </activity>
        <activity
            android:name=".LearnActivityAorticRegurgitation"
            android:label="@string/title_activity_learn_activity_aortic_regurgitation" >
        </activity>
        <activity
            android:name=".LearnActivityMitralRegurgitation"
            android:label="@string/title_activity_learn_activity_mitral_regurgitation" >
        </activity>
    </application>

</manifest>
